<ul class="fun-links">
  <li><a href="https://www.lego.com/kids" target="_blank" rel="noopener">LEGO Builder (official)</a></li>
  <li><a href="https://toytheater.com/simon/" target="_blank" rel="noopener">Simon Says</a></li>
  <li><a href="https://toytheater.com/pattern-blocks/" target="_blank" rel="noopener">Pattern Blocks</a></li>
  <li><a href="https://www.mathsisfun.com/geometry/tangrams.html" target="_blank" rel="noopener">Tangram (how-to + puzzles)</a></li>
  <li><a href="https://www.chess.com/play/online" target="_blank" rel="noopener">Chess</a></li>
  <li><a href="https://freeinvaders.org/" target="_blank" rel="noopener">Space Invaders (direct)</a></li>
</ul>
