{% extends "main/base.html" %}
{% block title %}Sitemap | Geeza Break{% endblock %}
{% block content %}
<main class="page container section">
  <h1>Sitemap</h1>
  <ul>
    <li><a href="{% url 'main:home' %}">Home</a></li>
    <li><a href="{% url 'main:services' %}">Services</a></li>
    <li><a href="{% url 'main:community_flat' %}">Community Flat</a></li>
    <li><a href="{% url 'main:volunteer' %}">Volunteer</a></li>
    <li><a href="{% url 'main:donate' %}">Donate</a></li>
    <li><a href="{% url 'main:contact' %}">Contact</a></li>
  </ul>
</main>
{% endblock %}
